<template>
	<b-col sm="3">

		<div class="carrito">
			<h5>Carrito</h5>
			<div v-for="item in getCompra" class="itemCart">
				<div class="image">
					<div class="image-cart"></div>
				</div>
				<div class="text">
					<strong class="d-block">{{ item.name}}</strong>
					<span>Precio: {{ item.price }}</span>
				</div>
				<div class="botonx"><button type="button" class="close">×</button></div>
			</div>
		</div>
		<div class="button-filter">
			<b-btn v-b-toggle.collapsefilter variant="secondary">Filtros</b-btn>
		</div>
			<b-collapse visible id="collapsefilter" class="mt-2">
				<ul class="aside-menu">
					<b-button variant="primary" @click="category_selected = ''">Ver todos</b-button>
					<li class="aside-menu__firstli" v-for="cat in listCategory" :key="cat.id">
						<h3>{{ cat.name }}	</h3>
						<ul>
							<li class="aside-menu__secondli" v-for="subtop in cat.sublevels" :key="subtop.id">
								<label class="custom-control custom-radio" size="sm">

									<input type="radio" :value="subtop.id" :id="subtop.id" v-model="category_selected" class="custom-control-input">

									<span aria-hidden="true" class="custom-control-indicator"></span>
									<span  class="custom-control-description">{{ subtop.name }}</span>
								</label>			
								<ul>
									<li class="aside-menu__thirdli" v-for="subbottom in subtop.sublevels" :key="subbottom.id">
										<label class="custom-control custom-radio" size="sm">
											<input type="radio" :value="subbottom.id" :id="subtop.id" v-model="category_selected" class="custom-control-input" name="category">
											<span aria-hidden="true" class="custom-control-indicator"></span>
											<span  class="custom-control-description">{{ subbottom.name }}</span>
										</label>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</b-collapse>
	</b-col>
</template>

<script>
// import getJson from '../../assets/data/categories.json'

// const jsonList = ('json',getJson)
// const categories = jsonList.categories


// const nameCategory = getJson.categories;
// const nameSublevels = nameCategory.sublevels;


export default {
	name: 'Aside',
	created: function() {
		//this.sublevels = getJson
		//console.log(cat)
		//this.getJson();
	},
	props: {
		queryMessage: {
			type: String,
			default: ''
		}
	},
	data(){
		return { 
			category_selected: '',
			message: this.queryMessage,
			counter: 0
		} 
	},
	computed: {
		listCategory: function () {
			return this.$store.state.listCategory;
		},
		getCompra: function () {
			return this.$store.state.compra;
		}
	},
	// created: function() {
	// 		this.category_selected = localStorage.getItem('selectCat');
	// },
	methods: {
		categoria: function() {
			this.$emit('filterCat', this.queryMessage)
		}
	},
	watch: {
			category_selected: function () {
				this.$emit('selectCat', this.category_selected)
				localStorage.setItem('selectCat', this.category_selected);
			}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

ul.aside-menu {
	-webkit-padding-start: 15px;
	margin-top: 20px;
	& ul {
		-webkit-padding-start: 10px;
	}
	li {
		list-style-type: none;
	}
	li.aside-menu__firstli {
		border-bottom: 1px solid #bcd9f8;
		margin-top: 10px;
	}
	li.aside-menu__secondli {

	}
	li.aside-menu__thirdli {

	}
}
.carrito {
	margin: 1rem;
}
.image {
	padding-right: 10px;
	display: table-cell;
	vertical-align: top;
}
.image-cart {
	height: 50px;
	width: 50px;
	background: url('https://lorempixel.com/600/300/food/') no-repeat 50% #fff;
	background-size: cover;
}
.text {
	display: table-cell;
	vertical-align: top;
}
.botonx {
	vertical-align: middle!important;
	padding-left: 10px;
	display: table-cell;
}
.itemCart {
	padding-top: 5px;
	padding-bottom: 5px;
}
.button-filter {
	-webkit-padding-start: 15px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

</style>
