<template>
  <b-container>
    <b-row>
        <b-col sm="12"><h1>{{ msg }}</h1></b-col>
        </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'NotFoundComponent',
  data () {
    return {
      msg: 'Error 404, página no encontrada',
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
