<template>
	<div>
		<div class="container-fluid">
			<div class="row">
				<input v-model="search" placeholder="Buscar" type="text" class="form-control shop-search" id="exampleInputEmail1" aria-labeldby="Search">
				<Aside @selectCat="getcategory"></Aside>
				<div class="col-sm-9 container-cards">
					<div class="container-select-order">
						<select v-model="selected" @change="onChange($event.target.value)" class="mb-3 form-control form-control-lg shop-filter">
							<option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
						</select>
					</div>
					<div class="card-columns-products">
						<div class="card" v-for="item in filterSearch" :key="item.id" v-if="item.sublevel_id === selected_cat || selected_cat === ''">
							<div class="card-header">
								<span v-if="item.available === true"><icon name="star" class="disponible"></icon>Disponible</span>
								<span v-else="item.available === false"><icon name="x" class="nodisponible"></icon>No Disponible</span>
							</div>
							<img class="card-img-top" v-lazy="imgProduct" :alt="item.name">
							<div class="card-body">
								<h5 class="card-title">{{ item.name }}</h5>
								<button v-on:click="comprar(item.name, item.price)" type="button" class="btn btn-primary">Agregar al carrito</button>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cantidad: {{ item.quantity }}</li>
							</ul>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Aside from '@/components/Aside'

export default {
	name: 'Shop',
	components: { Aside },
	data(){
		return { 
			call: '',
			selected_cat: '',
			search: '',
			selected: null,
			options: [
				{ value: null, text: 'Ordenar por:' },
				{ value: 'sortedproductsList', text: 'Cantidad' },
				{ value: 'sortedproductsDisponible', text: 'Disponiblilidad' },
				{ value: 'sortedproductsPrecio', text: 'Precio Menor a Mayor' },
				],
			imgProduct: {
				src: 'https://lorempixel.com/270/270/food/',
				loading: 'https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif'
			}
		}
	},
	computed: {
		filterSearch: function(){
			return this.productsList.filter((product) => {
				return product.name.match(this.search)
			});
		},
		productsList: function () {
			return this.$store.state.productsList;
		}
	},
	created: function () {
		let getCompra = localStorage.getItem('compraCart');
		console.log([getCompra, 'json'])
	},



	// created: function() {
	// 		const catLS = localStorage.getItem('selectCat')
	// 		console.log(catLS)
	// 		this.selected_cat = catLS
	// 		//this.selected_cat = localStorage.getItem('selectCat');
	// },
	methods: {
		comprar: function (name, price) {
				console.log(name + ' : ' + price)
				let compraCart = {name: name, price: price}
				this.$store.state.compra.push(compraCart)
				localStorage.setItem('compraCart', compraCart);
		},
		onChange(value) {
			if( value === "sortedproductsList") {
				this.sortedproductsList();
			} else if (value === "sortedproductsDisponible") {
				this.sortedproductsDisponible();
			} else {
				this.sortedproductsPrecio();
			}
		},
		getcategory: function (cat) {
				this.selected_cat = cat
		},
		sortedproductsList: function() {
			function compareCantidad(a, b) {
			  if (a.quantity < b.quantity)
				return 1;
			  if (a.quantity > b.quantity)
				return -1;
			  return 0;
			}
			return this.$store.state.productsList.sort(compareCantidad);
		},
		sortedproductsDisponible: function() {
			function compareDisponible(a, b) {
			  if (a.available < b.available)
				return 1;
			  if (a.available > b.available)
				return -1;
			  return 0;
			}
			return this.$store.state.productsList.sort(compareDisponible);
		},
		sortedproductsPrecio: function() {
			function comparePrecio(a, b) {
				let aN = ( parseFloat( ((a.price).substr(1)).replace(',', '') ) )
				let bN = ( parseFloat( ((b.price).substr(1)).replace(',', '') ) )
			  if (aN < bN)
				return -1;
			  if (aN > bN)
				return 1;
			  return 0;
			}
			return this.$store.state.productsList.sort(comparePrecio);
		}
	}
}
</script>

<style lang="scss" scoped>
	.container-select-order {
		display: flex;
    	justify-content: flex-end;
	}
	.card-columns-products {
	   display: flex;
	   flex-flow: row wrap;
	}
	.card {
		margin: 10px 1%;
	}
	.card-header{
		span {
			display: flex;
		}
	}
	.disponible {
		background-color: green;
		padding: 3px;
		border-radius: 50%;
		margin-right: 5px;
	}
	.nodisponible {
		background-color: red;
		padding: 3px;
		border-radius: 50%;
		margin-right: 5px;
	}
	.feather-star,
	.feather-x {
		color: #fff;
	}
	//feather.icons.x.toSvg({ class: 'foo bar', 'stroke-width': 1, color: 'red' })
	.container-cards {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.shop-search {
		margin-right: 0 !important;
		border-radius: 0;
		border: none;
		padding: 0.5rem 4rem;
		color: #007bff;
		font-size: 2rem;
		transition: all ease 0.3s;
		font-weight: 600;
		background: #e1e9ff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 96% center;
		&:hover {
			outline: 0;
		}
		&:focus {
			box-shadow: none;
			outline: 0;
			padding: 1rem 4rem;
			font-size: 3rem;
			background-color: #ff6600;
			color: #fff;
			&::placeholder {
				color: #fff;
			}
		}
		&::placeholder {
			color: #007bff;
			font-weight: 600;
		}
	}
	.shop-filter {
		border-radius: 0;
		width: auto;
		margin-top: 0.7rem !important;
		padding: 0 10px;
		margin-right: 1%;
	}
	.shop-title {
		display: inline-block;
	}
	.card-title {
		text-transform: capitalize;
	}
	.card {
			width: 100%;
	}
	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) {
		.shop-search {
			margin-right: 0 !important;
			border-radius: 0;
			border: none;
			padding: 0.5rem 4rem;
			color: #007bff;
			font-size: 2rem;
			transition: all ease 0.3s;
			font-weight: 600;
			background: #e1e9ff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 96% center;
			&:hover {
				outline: 0;
			}
			&:focus {
				box-shadow: none;
				outline: 0;
				padding: 1rem 4rem;
				font-size: 3rem;
				background-color: #ff6600;
				color: #fff;
				&::placeholder {
					color: #fff;
				}
			}
			&::placeholder {
				color: #007bff;
				font-weight: 600;
			}
		}
		.card {
			width: 100%;
		}
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		.shop-search {
			margin-right: 0 !important;
			border-radius: 0;
			border: none;
			padding: 0.5rem 4rem;
			color: #007bff;
			font-size: 1.6rem;
			transition: all ease 0.3s;
			font-weight: 600;
			background: #e1e9ff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 96% center;
			&:hover {
				outline: 0;
			}
			&:focus {
				box-shadow: none;
				outline: 0;
				padding: 1rem 4rem;
				font-size: 2rem;
				background-color: #ff6600;
				color: #fff;
				&::placeholder {
					color: #fff;
				}
			}
			&::placeholder {
				color: #007bff;
				font-weight: 600;
			}
		}
		.card {
			width: 47%;
		}
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) { 
		.shop-search {
			margin-right: 0 !important;
			border-radius: 0;
			border: none;
			padding: 0.5rem 4rem;
			color: #007bff;
			font-size: 0.9rem;
			transition: all ease 0.3s;
			font-weight: 600;
			background: #e1e9ff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 96% center;
			&:hover {
				outline: 0;
			}
			&:focus {
				box-shadow: none;
				outline: 0;
				padding: 1rem 4rem;
				font-size: 1.2rem;
				background-color: #ff6600;
				color: #fff;
				&::placeholder {
					color: #fff;
				}
			}
			&::placeholder {
				color: #007bff;
				font-weight: 600;
			}
		}
		.card {
			width: 31.33%;
		}
	}

	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) { 
		.shop-search {
			margin-right: 0 !important;
			border-radius: 0;
			border: none;
			padding: 0.5rem 4rem;
			color: #007bff;
			font-size: 0.9rem;
			transition: all ease 0.3s;
			font-weight: 600;
			background: #e1e9ff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 96% center;
			&:hover {
				outline: 0;
			}
			&:focus {
				box-shadow: none;
				outline: 0;
				padding: 1rem 4rem;
				font-size: 1.2rem;
				background-color: #ff6600;
				color: #fff;
				&::placeholder {
					color: #fff;
				}
			}
			&::placeholder {
				color: #007bff;
				font-weight: 600;
			}
		}
		.card {
			width: 31.33%;
		}
	}
</style>
