<template>
	<div id="app">
		<b-navbar class="navbar-expand-sm" type="dark" variant="primary">
			<b-navbar-brand href="/"><img src="./assets/el-baraton.svg" height="100px"></b-navbar-brand>
			<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
			<b-collapse is-nav id="nav_collapse">
				<b-navbar-nav class="ml-auto">
					<b-nav-item target="_blank" href="https://bitbucket.org/rendergraf/elbaraton">Repositorio</b-nav-item>
					<b-nav-item target="_blank" href="https://twitter.com/Rendergraf">Twitter</b-nav-item>
					<b-nav-item href="mailto:xavieraraque@gmail.com?subject=Hola%20Xavier!&amp;body=Me%20gusto%20mucho%20tu%20ejemplo!">E-mail</b-nav-item>
				</b-navbar-nav>
			</b-collapse>
		</b-navbar>
		<transition name="fade">
			<router-view></router-view>
		</transition>
	</div>
</template>

<script>
export default {
	name: 'app'
}
</script>

<style lang="scss" scoped>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	margin-top: 0px;
}
#nav_collapse {
	margin-top: auto;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.navbar-nav .nav-link {
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.9) !important;
}

@media (min-width: 576px) { 
	.navbar-nav .nav-link {
		font-size: 1rem;
		color: rgba(255, 255, 255, 0.9) !important;
	}
}

@media (min-width: 768px) { 
	.navbar-nav .nav-link {
		font-size: 1rem;
		color: rgba(255, 255, 255, 0.9) !important;
	}
}


@media (min-width: 992px) { 
	.navbar-nav .nav-link {
		font-size: 1rem;
		color: rgba(255, 255, 255, 0.9) !important;
	}
}


@media (min-width: 1200px) { 
	.navbar-nav .nav-link {
		font-size: 1rem;
		color: rgba(255, 255, 255, 0.9) !important;
	}
}
</style>
